body {
    align-content: center;
    background-image: url("https://marketplace.canva.com/MACV9soLIIc/1/thumbnail_large/canva-milky-way%2C-space%2C-universe%2C-night-sky%2C-background-MACV9soLIIc.jpg");
}

button {
    width: 240px;
    height: 80px;
    margin: 25px auto 0;
}

.btn {
    font-size: 1.75em;
}

#weatherBtn {
    color: white;
}

a {
    color: white;
    font-weight: bold;
}